<div id="company_messages_list">
  <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
    <div class="au-inbox-wrap js-inbox-wrap">
      <div class="au-message js-list-load">
        <div class="au-message__noti">
          <p>You Have
            <span><%= @companies.length %></span>
            Active users
          </p>
        </div>
        <% @companies.each do |company| %>
          <div class="au-message__item unread">
            <div class="au-message__item-inner">
              <div class="au-message__item-text">
                <div class="avatar-wrap online">
                  <div class="avatar">
                    <%= image_tag company.avatar.url %>
                  </div>
                </div>
                <div class="text">
                  <h5 class="name"><%= link_to company.name, new_message_message_path(company), remote: true %></h5>
                  <p>message</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<div id="render_messages"></div>

<%# <div class="au-message__item-time">
              <span>12 Min ago</span>
            </div> %>
