<% if @messages.present? %>
  <% @messages.each do |message| %>
    <% if message.user_id.blank? %>
      <div class="send-mess-wrap">
        <span class="mess-time"><%= message.created_at %></span>
        <div class="send-mess__inner">
          <div class="send-mess-list">
            <div class="send-mess"><%= message.msg %></div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="recei-mess-wrap">
        <span class="mess-time"><%= message.created_at %></span>
        <div class="recei-mess__inner">
          <div class="recei-mess-list">
            <div class="recei-mess"><%= message.msg %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <center>
    <h2>Ask for help!</h2>
  </center>
<% end %>
