<div class="main-content">
  <div class="section__content section__content--p10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= form_for([@company, @company_review]) do |f| %>
          <div class="form-group">
            <div id="star-rating"></div>
          </div>

          <div class="form-group">
            <%= f.label :company_review %>
            <%= f.text_area :company_review, id: :company_review_company_review, class: "au-input au-input--full"   %>
          </div>

          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-primary btn-lg", remote: true %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'company_review[review_rating]'
  });
</script>
