<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <h1>Add Review</h1>
      <%= render 'form', company_review: @company_review %>
      <%= link_to 'Back', companies_path(@company) %>
    </div>
  </div>
</div>
