<% if current_company %>
  <%= render 'company_index' %>
<% elsif current_user.has_role? :super_admin %>
  <%= render 'all_company_index' %>
<% else %>
  <h2>you are not authorised person</h2>
<% end %>