.message { color: red; }

.text-align-ceneter{ text-align: center; }

.bgc_red{ background-color: red; }

.fw_bold{ font-weight: bold; }

.fc_white{ color: white; }

.fc_yellow{ color: yellow; }

.pt10pct{ padding-top: 10%; }

.pt8pct{ padding-top: 8%; }

.alert {
  color: red;
  font-weight: bold;
  text-align: center;
}
