<% # <%= link_to "Back", admin_index_path %>
<%= link_to "Back ", :back %>||
<% @page_title = "jobs List" %>

<body style="background-color: #F5F7FA">
  <%= link_to "Post a Job", new_company_opening_job_path , title: "Add new job" %></h6>
  <table border="1">
    <thead>
      <tr>
        <th>Job Role</th>
        <th>Technology</th>
        <th>Experience</th>
        <th>CGPA</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="jobs_list_body">
      <%= render "jobs.html.erb" %>
    </tbody>
  </table>
</body>
