<div id="my_form">
  <a href="#" id="close_form" class="fa fa-times fa-3" ></a>
  <%= form_with model: @new_technology, url: technologies_path, validate: true do |f| %>
    <div class="form-group">
      <%= f.text_field :technology_name, class: "au-input au-input--full col-md-6", placeholder: "Enter technology" %>
      <%= f.submit "Add", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
