<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div id="new_tech">
        <%= link_to "Add new technology", new_technology_path, remote: true, id:"new_tech_link" %>
        </div>
        <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
          <div class="au-card-inner">
            <div class="table-responsive">
              <table class='table'>
                <thead>
                  <tr>
                    <th>Technology Name</th>
                  </tr>
                </thead>
                <tbody id="technology_tbody" >
                  <%= render "technologies_list" %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
