<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="col-lg-12">
        <h3>My Resumes</h3><br>
        <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
          <div class="au-card-inner">
            <div class="table-responsive">
              <table class='table'>

                <thead>
                  <tr>
                    <th>Name</th>
                    <th>show resume</th>
                    <th> Edit resume</th>
                    <th> Delete resume</th>
                  </tr>
                </thead>

                <tbody>
                  <% if @resumes.present? %>
                    <% @resumes.each do |user_resume| %>
                    <tr>
                      <td><%= user_resume.resume_name %></td>
                      <td><%= link_to 'show', user_resume.file %></td>
                      <td><%= link_to "Edit", edit_resume_path(user_resume.id) %></td>
                      <td>
                        <%= link_to 'Delete', resume_path(user_resume.id), confirm: 'are you sure to delete this resume?', method: :delete %>
                      </td>
                    </tr>
                    <% end %>
                  <% else %>
                    <span class="alert">***Data not available</span>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
