<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <h2>Thanks, you paid <strong>$5.00</strong>!</h2>
        <br />
        <%= link_to 'Dashboard', companies_path%>
      </div>
    </div>
  </div>
</div>
