
         <span class="text-center background-color-green "
           style="color: white; font-weight: bold; background-color: green;"><%= notice %></span>
         <span><%= alert %></span>
       </div>
     </div>
   </div>
 </div>
