<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <span><%= notice %></span>
        <span><%= alert %></span>
      </div>
    </div>
  </div>
</div>